<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ImpostorCore.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Maulwurf.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ED4568A52DEC77F000513CD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED4568B22DEC77F100513CD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED4568BC2DEC77F100513CD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED4568E72DEC7A7E00513CD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
